<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Juicinator{% endblock %}</title>
  {% block includes %}
  <link href="/static/bootstrap-3.0.0-wip/dist/css/bootstrap.css" rel="stylesheet">

  <script src="/static/bootstrap-3.0.0-wip/assets/js/jquery.js"></script>
  <script src="/static/bootstrap-3.0.0-wip/assets/js/jquery.js"></script>
  {% endblock %}
  {% block extrahead %}{% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Juicinator</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  {% block body %}{% endblock %}
</div>
</body>
</html>
